@import 'node_modules/uikit/src/scss/variables-theme.scss';
@import 'node_modules/uikit/src/scss/mixins-theme.scss';
@import 'node_modules/uikit/src/scss/uikit-theme.scss';

html {
  scroll-behavior: smooth;
}
