<div class="title">{{ articleTitle$ | async }}</div>
<div class="progress">
  <ng-container *ngTemplateOutlet="inProgress ? progressBar : emptyBar"></ng-container>
</div>

<div class="content" *ngIf="content$ | async as content" [innerHTML]="content.parse.text['*']"></div>

<ng-template #progressBar>
  Loading content
  <i class="fa fa-refresh  fa-spin"></i>
</ng-template>

<ng-template #emptyBar>
  {{ (content$ | async) && !errorString ? '' : 'No selected article' }}
</ng-template>

<span class="error-msg" *ngIf="errorString">{{ errorString }}</span>
