<section class="uk-grid-match uk-width-expand uk-padding-small uk-animation-fade" uk-grid>
  <div class="uk-width-1-4@s">
    <span uk-icon="user"></span>
    <span class="uk-text-bold">Some user, supposedly admin</span>
  </div>
  <div class="uk-width-1-2@s">
    <h1 class="uk-text-large uk-text-center">
      <span uk-icon="cart"></span>
      e-commerce cms
    </h1>
  </div>
  <div class="uk-width-1-4@s">
    <div>
      <button class="uk-button uk-button-default uk-button-small uk-align-right" (click)="toggleFilterDisplay()">Toggle filters</button>
    </div>
  </div>
</section>
