.list-item {
  background-color: #eee;
  margin: 5px 0;
  padding: 5px 10px;
  max-width: 200px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 0 5px;
  align-items: center;

  &.selected {
    background-color: burlywood;

    &.loaded {
      background-color: yellowgreen;
    }
  }
}
