<section class="uk-container uk-container-large">
  <header class="uk-background-muted uk-padding uk-padding-remove-vertical" uk-sticky>
    <four-application-header (filterVisibilityChange)="toggleFilterDisplay($event)"></four-application-header>

    <four-filters-form *ngIf="filterIsVisible" (searchEvent)="onSearchEvent($event)"></four-filters-form>

    <four-orders-pagination
      *ngIf="orders?.length"
      [canScrollForward]="canScrollResultsForward"
      [canScrollBack]="canScrollResultsBack"
      (scrollEvent)="onSinglePageScroll($event)"
    ></four-orders-pagination>

    <hr />
  </header>

  <four-orders-table *ngIf="orders?.length; else noResults" [orders]="orders"></four-orders-table>

  <ng-template #noResults>
    <div class="uk-placeholder uk-text-center">Here be search results.</div>
  </ng-template>
</section>
