html {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif;
}

* {
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

.fa-star {
  color: orangered;
  cursor: pointer;
}

.fa-book {
  color: green;
  cursor: pointer;
}

.fa-trash {
  color: palevioletred;
  cursor: pointer;
}
