<section class="uk-animation-toggle uk-animation-slide-top">
  <h4>Filters</h4>
  <form
    [formGroup]="filterForm"
    novalidate
    (ngSubmit)="onSubmit()"
    (reset)="onReset()"
    ngxfForm="console.log(ordersState.filterForm)"
    class="uk-grid-small"
    uk-grid
  >
    <div class="uk-width-1-4@s">
      <label class="uk-form-label" for="minValue">Min total</label>
      <input formControlName="minValue" class="uk-input" type="number" id="min-value" min="0" placeholder="enter a value" />
    </div>
    <div class="uk-width-1-4@s">
      <label class="uk-form-label" for="maxValue">Max total</label>
      <input formControlName="maxValue" class="uk-input" type="number" id="max-value" min="0" placeholder="enter a value" />
    </div>
    <div class="uk-width-1-4@s">
      <label class="uk-form-label" for="orderStatus">Order status</label>
      <div class="uk-form-controls">
        <select formControlName="orderStatus" class="uk-select" id="orderStatus">
          <option *ngFor="let i of orderStatuses" [value]="i.value">{{ i.displayText }}</option>
        </select>
      </div>
    </div>
    <div class="uk-width-1-4@s">
      <label class="uk-form-label" for="items-on-page">Items on page</label>
      <div class="uk-form-controls">
        <select formControlName="itemsOnPage" class="uk-select" id="items-on-page">
          <option *ngFor="let i of resultsOnPage" [value]="i.value">{{ i.displayText }}</option>
        </select>
      </div>
    </div>
    <div class="uk-margin uk-width-1-1">
      <button class="uk-button uk-button-default uk-align-right uk-button-primary" type="submit">Submit</button>
      <button class="uk-button uk-button-default uk-align-right uk-button-danger" type="reset">Reset</button>
    </div>
  </form>
</section>
