<section class="uk-overflow-auto uk-padding uk-padding-remove-horizontal">
  <table class="uk-table uk-table-responsive uk-table-divider uk-animation-toggle uk-animation-fade">
    <thead class="uk-background-secondary uk-light">
      <tr>
        <th class="uk-width-small">id</th>
        <th class="uk-width-small">date</th>
        <th class="uk-width-small">status</th>
        <th class="uk-width-small">total</th>
        <th class="uk-table-expand">details</th>
        <th class="uk-width-medium">customer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td class="order-col">{{ order.id }}</td>
        <td class="date-col">{{ order.date }}</td>
        <td class="status-col">{{ order.status }}</td>
        <td class="total-col">
          {{ order.total | currency }}
        </td>
        <td>
          <div uk-accordion>
            <div>
              <a class="uk-accordion-title uk-text-small">view details</a>
              <ul class="uk-accordion-content">
                <li *ngFor="let item of order.details" class="order details">
                  {{ item.product }}: {{ item.price | currency }} x {{ item.quantity | number: '.0' }} = {{ item.subtotal | currency }}
                </li>
              </ul>
            </div>
          </div>
        </td>
        <td class="customer-col">{{ order.customer }}</td>
      </tr>
    </tbody>
  </table>
</section>
